.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 72px;
  color: white;
  font-family: 'Staatliches', cursive;
}

.link {
  text-decoration: none;
  color: white;
}