.chevalier-de-la-mort {
    background-color: #C41F3B;
  }
  
  .chasseur-de-demons {
    background-color: #A330C9;
  }
  
  .druide {
    background-color: #FF7D0A;
  }
  
  .chasseur {
    background-color: #A9D271;
  }
  
  .mage {
    background-color: #40C7EB;
  }
  
  .moine {
    background-color: #00FF96;
  }
  
  .paladin {
    background-color: #F58CBA;
  }
  
  .pretre {
    background-color: #FFFFFF;
  }
  
  .voleur {
    background-color: #FFF569;
  }
  
  .chaman {
    background-color: #0070DE;
  }
  
  .demoniste {
    background-color: #8787ED;
  }
  
  .guerrier {
    background-color: #C79C6E;
  }